@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.calculator {
  width: 290px;
  height: 470px;
  margin: 0 auto;
  padding: 15px;
  background-color: #5c578d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 5px;
  
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
  padding: 5px;
  padding-top: 15px;

  
}

button {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px #3b3a3a;
  font-family: 'Orbitron', sans-serif;
}

.number {
  background-color: #f9f9f9;
}

.operator {
  background-color: #181815;
  color: white;
}

.clear {
  background-color: #25a8c9;
  color: white;
  width: 130px;
}

.equal {
  background-color: #b3afca;
  color: white;
}

.number:hover {
  background-color: #e5e5e5;
}

.operator:hover {
  background-color: #4d4d4b;
}

.equal:hover {
  background-color: #dedbec;
}

.clear:hover {
  background-color: #61b9cf;
}

.screen {
  height: 80px;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  background-color: white;
  border-radius: 6px;
  padding-right: 10px;
  font-family: 'Orbitron', sans-serif;
  
  

}

button:active {
  box-shadow: 0 3px #3b3a3a;
  transform:scale(0.98)  ;
}

body {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  
}

textarea:focus, input:focus{
  outline: none;
}

.all-clear {
  width: 130px;
  color: white;
  background-color: #f44336;
}

.all-clear:hover {
  background-color: #f38780;
}

#screen-current {
  font-size: 30px;
  
}

#screen-previous {
  font-size: 20px;
 
}
